body
{
  margin-top: 70px;
  padding: 0;
  background: #343434;
  overflow-x: hidden; 
  text-align: center;
  
}

h2 {
  color: #efefef;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
}
.card {
  box-shadow: 0 10px 14px 0 rgba(255, 255, 255, 0.2);
  max-width: 500px;
  background-color: rgb(204, 207, 209);
  margin: auto;
  font-family: arial;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;

  
}

img {
  max-width: auto;
  max-height: auto;
  padding-top: 45px;
}

p {
  text-align: left;
  padding-left: 60px;
}
.hiddenlink :link {
  text-decoration: none;
  color: #343434;
}

.hiddenlink :visited{
  text-decoration: none;
  color: #343434;
}

.hiddenlink :hover {
  text-decoration: none;
  color: #343434;
}

.hiddenlink :active {
  text-decoration: none;
  color: #343434;
}

.card:hover {
  transform: rotateY(180deg);
}

