body {
  background: #343434;
  text-align: center;
}

h1 {
  color: #efefef;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  font-size: 80px;
  margin: 20px 0 25px;
  text-align: center;
}

#colon {
  font-size: 60px;
}

#logo-k {
  background-clip: text;
  font-size: 65px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: black;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.card {
  background-color: rgb(204, 207, 209);
  box-shadow: 0 10px 14px 0 rgba(255, 255, 255, 0.2);
  display: inline-block;
  font-family: arial;
  height: 500px;
  padding: 26px 15px 0;
  position: relative;
  width: 350px;
}

#menubar {
  padding-bottom: 0px;
}

.images {
  line-height: 300px;
}

img {
  padding-top: 10px;
  width: 300px;
  vertical-align: middle;
}

.card .back {
  display: none;
  position: absolute;  
}

.card:hover {
  transition-delay:  2s;
}

.card:hover .back {
  display: inline-block;
}

.front, .back {
  width: 300px;
  vertical-align: middle;
}

.iconsmall {
  margin-top: 0;
}

p {
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  padding-left: 40px;
  text-align: left;
}

.hiddenlink :link {
  color: #343434;
  text-decoration: none;
}

.hiddenlink :visited{
  color: #343434;
  text-decoration: none;
}

.hiddenlink :hover {
  color: #343434;
  text-decoration: none;
}

.hiddenlink :active {
  color: #343434;
  text-decoration: none;
}

a {
  color: blue;
}

#little {
  margin: 0 3px;
}

div {
  margin: 24px 0;
}