
#menu {
  list-style-type:none;
  text-align: center;
  font-size: 14pt;
  position: relative;
  margin-bottom: 15px;
}

li {
  display:inline;
  padding-left: 10px;
  padding-right: 10px;
  /* font-size: 2.5vw; */
  font-family: 'Play', sans-serif;
  
}

li :hover {
  color: rgb(192, 171, 75);

}
ul {
  background-color: #676767;  
    /* padding-top: 5px;
    padding-bottom: 5px; */
}


li a {
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}
