body {
  background-color: #343434;
  text-align: center;
}

header {
  margin: 30px auto 15px;
}

h1 {
  color: #efefef;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Nanum Gothic', 'Play', sans-serif;

}

h2 {
  font-size: 25px;
  font-family: 'Play', sans-serif;
}

#color1, #color2 {
  border: 6px solid rgb(192, 171, 75);
  border-radius: 3px;
  margin: 0;  
}

.steps {
  color: #efefef;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-right: 20px; */
  padding-top: 10px;
  height: 200px;
  width: 260px;
  /* border: 2px dotted green; */
  vertical-align: middle;
}

#segments {
  margin-left: 20px;
  margin-right: 20px;
  width: 220px;
}

ul li {
  list-style: none;
  color: white;
}

p {
  color: #cdcdcd;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#color1 {
  height: 50px;
  width: 100px;
  margin-top: 5px;
}

#color2 {
  height: 50px;
  width: 100px;
  margin-top: 5px;
}

#segmentcount {
  margin-top: 30px;
  height: 40px;
  width: 55px;
  font-size: 25px;
  padding-left: 15px;
}

#chart-link {
  display: block;
  margin-top: 40px;
  font-family: 'Play', sans-serif;
  color: #efefef;
  text-decoration: none;
  font-size: 20px;
}

button {
  margin-top: 20px;
  background-color: gray;
  font-size: 20px;
  border-radius: 12px;
}

button:hover {
  background-color: plum;
}

.table-frame {
  margin-top: 50px;
  display: inline-block;
  width: 75%;
  border: 6px solid rgb(192, 171, 75);
  border-radius: 6px;
}

table {
  /* table-layout: fixed; */
  display: inline-block;
  width: 100%;
}

tr {
  height: 150px;
  width: 100%;
}

tr:last-child {
  height: 90px;
}

td {
  /* position: relative; */
  padding: 0;
  margin: 0;
  width: 1%;
  min-width: 1%;
}

#chart-container {
  margin: 80px auto 0px;
  position: relative;
  display: inline-block;
  width: 80%;
}

div {
  /* float: left; */
  transform: rotate(90deg);
  margin-top: 38px;
  font-size: 12px;
  font-family: 'Play', sans-serif;
  color: #cdcdcd;
}

