body {
  background-color: #343434;
  text-align: center;
}

h1 {
  color: #efefef;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  font-size: 80px;
  margin: 20px 0 25px;
  text-align: center;
}

#colon {
  font-size: 60px;
}

#logo-k {
  background-clip: text;
  font-size: 65px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Play', sans-serif;
  font-size: 25px;
}

#color1, #color2 {
  border-radius: 3px;
  margin: 0;  
}

.steps {
  color: #efefef;
  display: inline-block;
  height: 180px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  vertical-align: middle;
  width: 260px;
}

#segments {
  margin-left: 20px;
  margin-right: 20px;
  width: 220px;
}

ul li {
  color: white;
  list-style: none;
}

p {
  color: #cdcdcd;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#color1 {
  height: 50px;
  margin-top: 5px;
  width: 100px;
}

#color2 {
  height: 50px;
  margin-top: 5px;
  width: 100px;
}

#segmentcount {
  font-size: 25px;
  height: 40px;
  margin-top: 30px;
  padding-left: 15px;
  width: 55px;
}

#tooltip-relative {
  position: relative;
}

button {
  background-color: #dedede;
  border: none;
  border-radius: 4px;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px 15px;
}

button:hover {
  background-color: #ffffff;
}

button:active {
  background-color: #565656;
  color: #dedede;
}

#save-button {
  display: inline-block;
  position: relative;
}

#save-button + #save-tooltip {
  background-color: #565656;
  border-radius: 6px;
  color: #ffffff;
  font-family: 'Nanum Gothic', 'Play', sans-serif;
  font-size: 14px;
  left: 53%;
  line-height: 1.2;
  margin-left: 10px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  top: 15px;
  transition: 1s all;
  width: 320px;
  z-index: 1;
}

#save-button:hover + #save-tooltip {
  opacity: 1;
}

#save-button + #save-tooltip::after {
  border-color: #565656 #565656 transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: " ";
  margin-top: -5px;
  position: absolute;
  right: 100%;
  top: 50%;
}

#user-section {
  margin: 0 auto;
  width: 80%;
}

.copy-array {
  background-color: #565656;
  border-radius: 3px;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .35vw;
  margin-bottom: 3px;
  opacity: 0;
  padding: 10px 0;
}

#user-section:active .copy-array {
  opacity: 1;
}

#previous-section > section {
  margin: 55px auto 100px;
  width: 80%;
}

.colors {
  display: inline-block;
  height: 150px;
  width: 100%;
}

span {
  display: inline-block;
}

.hex-codes {
  display: inline-block;
  height: 90px;
  width: 100%;
}

.rotate-text {
  color: #cdcdcd;
  display: inline-block;
  font-family: 'Play', sans-serif;
  margin-top: 30px;
  transform: rotate(90deg);
}

#chart-link {
  color: #efefef;
  display: inline-block;
  font-family: 'Play', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
}

#chart-link:hover {
  color: #00eea8;
}

#chart-container {
  display: inline-block;
  margin: 80px auto 100px;
  position: relative;
  width: 85%;
}

#chart1 {
  display: inline-block;
  margin: 30px 0 50px;
  width: 70%;
}

#chart2{
  display: inline-block;
  margin: 50px 0;
  width: 80%;
}

#chart3 {
  display: inline-block;
  margin: 75px 0;
  width: 100%;
}
