
#menu {
  font-size: 16pt;
  list-style-type:none;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

li {
  display:inline;
  font-family: 'Play', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

li :hover {
  color: #00eea8;
}

ul {
  background-color: #474545;  
}

li a {
  color: white;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
